app_css_content = """.landing-page {
    background-image: url('path_to_your_image.jpg');
    background-size: cover;
    text-align: center;
    padding: 50px;
}"""
with open(f"{project_name}/App.css", "w") as f:
    f.write(app_css_content)
